* {
	box-sizing: border-box;
}

body {
	background: #98A4B1;
	color: #354C69;
	font-family: 'Titillium Web', sans-serif;
}

h1, .caption {
	text-align: center;
}

.search-form {
	text-align: center;
}

input.query {
	width: 80%;
	color: #354C69;
	font-family: 'Titillium Web', sans-serif;
	padding: 3px;
}

input.query::-webkit-input-placeholder {			/* input box placeholder for various browsers */
	opacity: 0.85;
	font-family: 'Titillium Web', sans-serif;
}

input.query::-moz-placeholder {			
	opacity: 0.85;
	font-family: 'Titillium Web', sans-serif;
}

input.query:-ms-input-placeholder {			
	opacity: 0.85;
	font-family: 'Titillium Web', sans-serif;
}

input.query:-moz-placeholder {			
	opacity: 0.85;
	font-family: 'Titillium Web', sans-serif;
}

button {							/*search button */
	border: none;
	background-color: #4F647E;
	color: #CCD1D8;
	font-family: 'Titillium Web', sans-serif;
	margin-left: 3px;
	padding: 2px 4px;
}

button:hover {
	font-weight: bold;
	box-shadow: 3px 3px 3px gray;
}

.js-search-results img:hover {
  box-shadow: 8px 8px 8px gray;
}

.imgSelected {				/*Show what item you currently have selected */
	border:2px solid #ccc;
	box-shadow: 5px 5px 5px gray;
}

.js-search-results h3:hover {
	text-decoration: underline;
}

.js-search-results h4 {
	text-decoration: underline;
}

.js-search-results > p {	/** Click on each thumbnail to display comments **/
	font-style: italic;
}

.js-search-results div > p {	/** Consumer Reviews **/
	text-decoration: underline;
	font-weight: bold;
}

.js-search-results > button > a {
	color: #CCD1D8;
	text-decoration: none;
}

.js-search-results2 > p {
	font-weight: bold;
}

.js-search-results3 > h4 {
	text-decoration: underline;
	font-weight: bold;
}

.js-search-results3 > p {	/** Click on each thumbnail to play video **/
	font-style: italic;
}

.js-search-results3 p:hover {
	text-decoration: underline;
}

.js-search-results3 img:hover {
  box-shadow: 8px 8px 8px gray;
}

.js-search-results3 > button > a {
	color: #CCD1D8;
	text-decoration: none;
}

/*.js-search-results {
	float: left;
	width: 50%;
}

.js-search-results2 {
	float: left;
	width: 50%;
}

.js-search-results3 {
	clear:both;
	padding-top: 15px;
	width: 50%;
}*/