.js-search-results img:hover {
  box-shadow: 8px 8px 8px gray;
  /*transition: 0.5s ease;*/
}

.imgSelected {				/*Show what item you currently have selected */
	border:2px solid #ccc;
	box-shadow: 4px 4px 4px gray;
}

/*.itemGroup {
	display: inline-block;
}*/

.js-search-results h3:hover {
	text-decoration: underline;
}

.js-search-results h4 {
	display: inline-block;		/** so video link can be next to it **/
	text-decoration: underline;
}

body {
	background-image: url("background image.jpeg");
	background-repeat: no-repeat;
	background-size:cover
}

.js-search-results > p {
	font-weight: bold;
}

.js-search-results > button {	/** video link to video section **/
	margin-left: 70px;
}

.js-search-results > button > a:link {
	text-decoration: none;
}

.js-search-results2 > p {
	font-weight: bold;
}

.js-search-results3 > h4 {
	text-decoration: underline;
	font-weight: bold;
	display: inline-block;	/** so Customer Feedback link can be next to it **/
}

.js-search-results3 > p {
	font-weight: bold;
}

.js-search-results3 p:hover {
	text-decoration: underline;
}

.js-search-results3 img:hover {
  box-shadow: 8px 8px 8px gray;
}

.js-search-results3 > button {	/** link to Customer Feedback section **/
	margin-left: 70px;
}

.js-search-results3 > button > a:link {
	text-decoration: none;
}

input {
	width: 40%;
}



/*.js-search-results {
	float: left;
	width: 50%;
}

.js-search-results2 {
	float: left;
	width: 50%;
}

.js-search-results3 {
	clear:both;
	padding-top: 15px;
	width: 50%;
}*/