* {
	box-sizing: border-box;
}

body {
	background: #B6C0D5;
	color: #354C69;
	font-family: 'Titillium Web', sans-serif;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}

h1 {
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

h1, .caption {
	text-align: center;
}

.caption {
	font-size: large;
}

.search-form {
	text-align: center;
}

input.query {
	width: 80%;
	color: #354C69;
	font-family: 'Titillium Web', sans-serif;
	padding: 3px;
}

input.query::-webkit-input-placeholder {			/* input box placeholder for various browsers */
	opacity: 0.85;
	font-family: 'Titillium Web', sans-serif;
}

input.query::-moz-placeholder {			
	opacity: 0.85;
	font-family: 'Titillium Web', sans-serif;
}

input.query:-ms-input-placeholder {			
	opacity: 0.85;
	font-family: 'Titillium Web', sans-serif;
}

input.query:-moz-placeholder {			
	opacity: 0.85;
	font-family: 'Titillium Web', sans-serif;
}

button {							/*search button */
	border: none;
	background-color: #3F4D64;
	color: #EDEDED;
	font-family: 'Titillium Web', sans-serif;
	margin-left: 3px;
	padding: 2px 4px;
	font-weight: bold;
}

button:hover {
	box-shadow: 3px 3px 3px gray;
	text-decoration: underline;
}

.js-feedback-results, .js-video-results {	/**to center all the search results**/
	text-align: center;
}

.js-feedback-results p.noComment {	/**For: No review comments available**/
	padding-top: 50px;
	font-weight: bold;
	font-size: larger;
	font-style: italic;
}

.js-feedback-results img {
	display: block;			/**in order to center product img**/
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}

.js-feedback-results img:hover {
  box-shadow: 8px 8px 8px gray;
}

.imgSelected {				/*To show what item you currently have selected */
	border:3px solid #7788AA;
	box-shadow: 5px 5px 5px gray;
}

.js-feedback-results .titleImg:hover {
	text-decoration: underline;
}

.js-feedback-results .titleImg {
	font-weight: bold;
	font-size: large;
}

.js-feedback-results h2 {
	text-decoration: underline;
	padding-top: 20px;
}

.js-feedback-results div.clickInst {	/**For: Click on each thumbnail to display comments **/
	font-style: italic;
	padding-top: 15px;
	padding-bottom: 15px;
}

.js-feedback-results div > p {	/**For: Consumer Reviews **/
	text-decoration: underline;
	font-weight: bold;
	font-size: large;
}

.js-feedback-results > button > a {
	color: #EDEDED;
	text-decoration: none;
}

.js-feedback-results ul li {
	border-bottom: 2px solid #DDDEEA;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.js-feedback-results ul {	/**works only if this style comes after li styles**/
    list-style: none;
    padding-left: 0;
}​

.js-video-results > h2 {
	text-decoration: underline;
	font-weight: bold;
}

.js-video-results > p {	/**For: Click on each thumbnail to play video **/
	font-style: italic;
	padding-bottom: 15px;
}

.js-video-results h2 {
	padding-top: 30px;
	text-decoration: underline;
}

.js-video-results > a {	/** Title for each video **/
	text-decoration: none;
	color: #354C69;
	font-weight: bold;
	font-size: large;
}

.js-video-results a:hover {
	text-decoration: underline;
}

.js-video-results img {
	border-radius: 10px;
}

.js-video-results img:hover {
  box-shadow: 8px 8px 8px gray;
}

.js-video-results > button > a {
	color: #EDEDED;
	text-decoration: none;
}

.js-video-results p.noVids {	/**For: No video reviews available**/
	font-weight: bold;
	font-size: larger;
	padding-top: 15px;
	padding-bottom: 15px;
}

@media screen and (min-width: 992px) {
	input.query {
		width: 50%;
	}
}

@media screen and (max-width: 490px) {
	.js-video-results img {
		width: 95%;
	}

}